@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 
  /* background-image: linear-gradient(to right top, #ec407a, #e356a0, #d16dbf, #b982d6, #a094e3, #b698e7, #cb9ce9, #dfa0ea, #ff99cb, #ffa299, #ffbf67, #fce44d); */
  background-image: linear-gradient(120deg, #a1e3fd 0%, #c2fbf8 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}